#no {
  background-color: red;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  width: 100px;
}

#yes {
  background-color: green;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  width: 100px;
}

.intro-box{
  border: 3px solid red;
  margin-top: 5px;
  padding: 3px;
}

.front-back{
  i
  border: 3px solid black;
  font-size: 25px;
  margin-top: 8px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 5px;}

.panel-heading {
  text-align: center;
}

.panel-body {
  text-align: center;
}

#buttons {
  padding: 5px auto;
}
#sorry {
  display: none;
}

#webpage {
  display: none;
}

.radio {
  margin-top: 0;
  padding-left: 15px;
}

#name {
  width: 300px;
}

#age {
  width: 100px;
}

#polPref {
  width: 300px;
}

#submitter {
  margin-top: 30px;
}
